header {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(80, 129, 160, 1) 35%,
    rgba(54, 90, 109, 1) 56%,
    rgba(54, 90, 109, 1) 86%,
    rgba(80, 129, 160, 1) 100%
  );
}
.configHeader {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}

.configSESA{
}